/.phpunit.cache
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
docker-compose.override.yml
/wiki
.DS_Store
/storage/app/gcs-key.json
test
/staging/terraform.tfstate.backup
/staging/.terraform.lock.hcl
/staging/.terraform
/staging/terraform.tfstate.backup

/production/terraform.tfstate.backup
/production/.terraform.lock.hcl
/production/.terraform
/production/terraform.tfstate.backup

*.zip
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars
*.tfvars.json
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfstate
terraform.tfstate.backup
*.swp
*.swo
.DS_Store
Thumbs.db
/staging/service-account.json
/staging/*.json
/production/*.json
